html {
  font-size: 18px;
  font-family: "Consolas", "Microsoft YaHei"  !important;
}

body {
  background-color: $white;
}

a {
  text-decoration: none;
}

.v-link-active {
  background-color: rgba(0, 0, 0, .7);

  &:hover {
    background-color: rgba(0, 0, 0, .7) !important;
  }
}
