html {
  font-size: 18px;
  font-family: "Consolas", "Microsoft YaHei"  !important;
}

body {
  background-color: $white;
}

a {
  color: #4094c7;
  text-decoration: none;
  &:hover { color: #075b8d; }
}

.v-link-active {
  border-bottom: 6px solid #4094c7
}
