.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-center-justify {
  @extend .flex;
  justify-content: center;
}
.flex-center-align {
  @extend .flex;
  align-items: center;
}
.flex-center {
  @extend .flex;
  @extend .flex-center-align;
  @extend .flex-center-justify;
}
