/*!
样式来自http://www.cnblogs.com/zhangjk1993/p/5442676.html
*/
.markdown {
  color: #2f2f2f;
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    color: #555555;
    font-weight: bold;
    line-height: 1.8;
  }

  h1 { font-size: 36px; }
  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  p, a, ul, ol{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.7;
    margin-bottom: 25px;
    word-break: break-all;
  }

  a {
    color: #4094c7;
    text-decoration: none;
    &:hover, &:visited { color: #075b8d; }
  }

  ul, ol {
    padding-left: 24px;
  }

  code, pre {
    border-radius: 3px;
    background-color:#fdf6e3;
    color: #657b83;
    font-size: 14px;
    font-family: Consolas, Monaco, Andale Mono, monospace;
  }

  code {
    padding: 2px 4px;
  }

  pre {
    line-height: 20px;
    overflow: auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    code {
      border: 0;
      display: inline;
      max-width: initial;
      padding: 0;
      margin: 0;
      overflow: initial;
      line-height: inherit;
      font-size: .85em;
      white-space: pre;
      background: 0 0;
    }
  }

  blockquote {
    background-color: whitesmoke;
    border-left:4px solid #999999;
    padding: 10px 15px;
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 30px;

    p {
      margin: 0;
      font-size: 15px;
      line-height: 1.7;
    }
  }

  hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    border-left: none;

    th {
      padding: 8px;
      border-left: 1px solid #dddddd;
      border-top: 1px solid #dddddd;
      line-height: 20px;
      font-weight: bold !important;
    }

    td {
      padding: 8px;
      border-left: 1px solid #dddddd;
      border-top: 1px solid #dddddd;
      line-height: 20px;
      vertical-align: top;
    }
  }

  img {
    max-width: 100%;
  }
}
